<mat-card>
  <mat-card-header>
    <mat-card-title>{{road}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Aktuelle Meldungen: {{roadworks.length}}
  </mat-card-content>
  <mat-card-actions align="end">
    <app-roadworks-card-button-by-icon
      [icon]="Roadwork.Icon.Gefahr"
      [roadworks]="roadworks"
      title="Gefahrenmeldungen">
    </app-roadworks-card-button-by-icon>
    <app-roadworks-card-button-by-icon
      [icon]="Roadwork.Icon.Sperrung"
      [roadworks]="roadworks"
      title="Sperrungen">
    </app-roadworks-card-button-by-icon>
    <app-roadworks-card-button-by-icon
      [icon]="Roadwork.Icon.Bauarbeiten"
      [roadworks]="roadworks"
      title="Baustellen">
    </app-roadworks-card-button-by-icon>
    <app-roadworks-card-button-by-icon
      [icon]="Roadwork.Icon.Kurzzeitbaustelle"
      [roadworks]="roadworks"
      title="Kurzzeitbaustellen">
    </app-roadworks-card-button-by-icon>
    <!--
          <div class="meldungen-summary-cart" title="Sonstige">
            <mat-icon aria-hidden="true" [svgIcon]="Roadwork.Icon.Gefahr"></mat-icon>: {{roadworksByIcon().sonstige.length}}
          </div>
          -->
  </mat-card-actions>
</mat-card>
