<c-card class="mb-4">
  <c-card-body>
    <c-row>
      <c-col sm="5">
        <h4 class="card-title mb-0" id="traffic">Aktuelle Verkehrsmeldungen</h4>
        <div class="small text-medium-emphasis">{{fetchTime | date:'dd.MM.yyyy hh:mm'}}h</div>
      </c-col>
    </c-row>
  </c-card-body>
  <c-card-footer>
    <c-row class="text-center" [md]="5" [xs]="1">
      <app-dashboard-road-index-roadworks-footer-card
        title="Gefahren"
        [icon]="Roadwork.Icon.Gefahr"
        [roadworks$]="roadworks$"
      ></app-dashboard-road-index-roadworks-footer-card>
      <app-dashboard-road-index-roadworks-footer-card
        title="Sperrungen"
        [icon]="Roadwork.Icon.Sperrung"
        [roadworks$]="roadworks$"
      ></app-dashboard-road-index-roadworks-footer-card>
      <app-dashboard-road-index-roadworks-footer-card
        title="Kurzzeitbaustellen"
        [icon]="Roadwork.Icon.Kurzzeitbaustelle"
        [roadworks$]="roadworks$"
      ></app-dashboard-road-index-roadworks-footer-card>
      <app-dashboard-road-index-roadworks-footer-card
        title="Baustellen"
        [icon]="Roadwork.Icon.Bauarbeiten"
        [roadworks$]="roadworks$"
      ></app-dashboard-road-index-roadworks-footer-card>
      <app-dashboard-road-index-roadworks-footer-card
        title="Insgesamt"
        [roadworks$]="roadworks$"
      ></app-dashboard-road-index-roadworks-footer-card>
    </c-row>
  </c-card-footer>
</c-card>
