/* You can add global styles to this file, and also import other style files */
$material-design-icons-font-directory-path: 'material-design-icons-iconfont/dist/fonts/';
@import 'material-design-icons-iconfont/src/material-design-icons';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'material-design-icons-iconfont/src/material-design-icons';
@import '@fontsource/roboto';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@mixin box-shadow($shadow) {
  box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
}

.content-pane {
  padding: 1.5rem;
  background-color: rgba(120,120,120,.1);
  @include box-shadow(0 0 .5rem rgba(60,60,60,.35));
  display: flex;
  flex-flow: row wrap;

  * {
    margin: 0.2em;
  }

  @media screen and (max-width: 599px) {
    flex-flow: column;
  }


}

.line-through {
  text-decoration-line: line-through;
}

.content {
  h2 {
    margin: 0.5em;

  }
}
